
@{
    ViewBag.Title = "Index";
}


<div class="relative-band text-center">
    @*<span style="width: 50%;margin: 0 auto;height: 1px;border-bottom: 1px #666 dotted;">asd</span>*@


    <div class="relative-band-absolute center-block">

        <span style="border-top:1px solid #fff; font-size:3.5em; font-weight:bold;">Coming soon</span>
        <div style="font-weight:bold;margin-bottom:10%;" class="text-center">Stay tuned for something amazing</div>


        <div class="realtive-text-center"><a href="#" style="text-decoration:none; cursor:pointer; color:#fff;">what is this? <i style="font-size: 1em; color: Tomato;" class="fas fa-angle-double-down"></i></a></div>
         <div class="realtive-text-center"><a href="#" style="text-decoration:none; cursor:pointer;color:#fff;">pour opinions <i style="font-size: 1em; color: Tomato;" class="fas fa-brain"></i></a></div>
         <div class="realtive-text-center">
            <a href="#" style="text-decoration:none; cursor:pointer;color:#fff;">email us <i style="font-size: 1em;
        color: Tomato;" class="fas fa-envelope-open-text"></i>
            </a>
        </div>
         <div class="realtive-text-center"><a href="#" style="text-decoration:none; cursor:pointer;color:#fff;">have a playlist <i style="font-size: 1em; color: Tomato;" class="fas fa-icons"></i></a></div>



        <div class="center-block">
            <div class="realtive-text-center">
                <a href="#" style="text-decoration:none; cursor:pointer; color:#fff;">
                    <img src="~/Content/icons/social/036-facebook.png" height="50" width="50" style="border-radius:50%;" />
                </a>
            </div>
            <div class="realtive-text-center">
                <a href="#" style="text-decoration:none; cursor:pointer; color:#fff;">
                    <img src="~/Content/icons/social/012-spotify.png" height="50" width="50" style="border-radius:50%;" />
                </a>
            </div>
            <div class="realtive-text-center">
                <a href="#" style="text-decoration:none; cursor:pointer; color:#fff;">
                    <img src="~/Content/icons/social/021-pinterest.png" height="50" width="50" style="border-radius:50%;" />
                </a>
            </div>
            <div class="realtive-text-center">
                <a href="#" style="text-decoration:none; cursor:pointer; color:#fff;">
                    <img src="~/Content/icons/social/008-twitter.png" height="50" width="50" style="border-radius:50%;" />
                </a>
            </div>
        </div>
    </div>
</div>


