* {
    box-sizing: border-box;
}

html, body {
    /*background-color:#020F1D;*/
    /*background-color: #f7f7f7;*/
    /*background-color: #f6f8f9;*/
    /*background-color: #181e30;*/
    /*color: #0074ff;*/
    background-color: #f0f1f3;
    color: #000;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.body-wrap {
    width: 100%;
    height: 100%;
}

.page-wrap {
    /*background-image: url("images/astronomy-atmosphere-earth-exploration-220201.jpg");*/
    min-height: 100%;
    /*height: 100%;*/
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    padding: 5%;
}

    .page-wrap:after {
        content: "";
        display: block;
        height: 10px;
        /*border-bottom: 1px solid #e1e4e8;*/
    }

.site-footer {
    width: 100%;
    background-color: #183153;
    height: auto;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.email-box{

    margin-top:2%;
    padding:2%;
    width:85%;
    margin-left:auto;
    margin-right:auto;
    background-color:#183153;
    text-align:left;
    color:#fff;
    border-radius:10px;
}

.social_box{
    padding:5%;
}
.social_box_text {
    background-color: #183153 !important;
    color: #fff !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: 2px solid #ffd800 !important;
    border-radius: 0 !important;
    
}
    .social_box_text:focus input:focus {
        background-color: #183153 !important;
        color: #fff !important;
        box-shadow: none !important;
        border: none !important;
        border-bottom: 10px solid #ffd800 !important;
        border-radius: 0 !important;
    }
.social-btn {
    background-color: #183153 !important;
    border: 2px solid #ffd800 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold !important;
    text-decoration: none;
    border-radius:20px !important;
}

    .social-btn:hover {
        background-color: #183153 !important;
        border: 2px solid #ffd800 !important;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        border-radius: 20px !important;
    }
.background_error_hidden{
    background-color:#ff0000;
    font-family:monospace;
    font-weight:bold;
    color:#fff;
    padding:10%;
    display:none;
    visibility:hidden;
}
.background_error_show {
    background-color: #ff0000;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
    padding: 10%;
    display: block;
    visibility:visible;
    margin:5%;
}