* {
    box-sizing: border-box;
}

html, body {
    /*background-color:#020F1D;*/
    /*background-color: #f7f7f7;*/
    /*background-color: #f6f8f9;*/
    /*background-color: #181e30;*/
    /*color: #0074ff;*/
    background-color: #ffffff;
    color: #000;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.body-wrap {
    width: 100%;
    height: 100%;
}

.page-wrap {
    /*background-image: url("images/astronomy-atmosphere-earth-exploration-220201.jpg");*/
    min-height: 100%;
    /*height: 100%;*/
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    padding: 5%;
}

    .page-wrap:after {
        content: "";
        display: block;
        height: 10px;
        /*border-bottom: 1px solid #e1e4e8;*/
    }

.site-footer {
    width: 100%;
    background-color: #183153;
    height: auto;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.opinion_top {
    width: 100%;
    padding: 5%;
    background-color: #183153;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    height: 300px;
}

.opinion_line {
    margin-top: 5%;
    border: 1px solid #f0f1f3;
}
.opinion_line2 {
    border: 1px solid #f0f1f3;
}
.opinion_add_box {
    margin-top: 5%;
    border: 1px solid #183153;
    border-radius: 2px;
}
.opinion_add_box_btn {
    background-color: #ffd800 !important;
    border: 1px solid #ffd800 !important;
    margin: 10px;
    color: #183153 !important;
    font-weight: bold !important;
    text-decoration: none;
    border-radius: 5px !important;
}

    .opinion_add_box_btn:hover {
        background-color: #ffd800 !important;
        border: 1px solid #ffd800 !important;
        margin: 10px;
        color: #183153 !important;
        font-weight: bold !important;
        text-decoration: none;
        border-radius: 5px !important;
    }

.opinion_add_box_btn_r {
    background-color: #183153 !important;
    border: 1px solid #183153 !important;
    margin: 10px;
    color: #ffffff !important;
    font-weight: bold !important;
    text-decoration: none;
    border-radius: 5px !important;
}

.opinion_add_box_btn_r:hover {
    background-color: #183153 !important;
    border: 1px solid #183153 !important;
    margin: 10px;
    color: #ffffff !important;
    font-weight: bold !important;
    text-decoration: none;
    border-radius: 5px !important;
}


.opinion_text {
    background-color: #fff !important;
    color: #183153 !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: 2px solid #183153 !important;
    border-radius: 0 !important;
}

    .opinion_text:focus input:focus {
        background-color: #fff !important;
        color: #183153 !important;
        box-shadow: none !important;
        border: none !important;
        border-bottom: 2px solid #183153 !important;
        border-radius: 0 !important;
    }

.news-back-imge {
    height: 500px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
.user_block_hidden{
    display:none;
    visibility:hidden;
}
.user_block_show {
    display:block;
    visibility:visible;
}
.article-image {
    height: 250px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
.article_container_content {
    padding: 5%;
    text-overflow:ellipsis;
    overflow:hidden;
}
.article_container_image {
    height: 250px;
    height: 250px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
